@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-background text-white font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-gaming;
  }

  /* Override Chrome/Browser Autofill Styles */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #424242 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: white;
  }
}